.about {

  background-color: #222;
  color: #fff;
  background:url('http://wallpaperrs.com/uploads/photography/city-cities-seattle-mt-rainier-washington-mind-boggling-hd-wallpaper-14294419278.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:1000px;
  padding-top: 50px;

}

body {
  background-color: #222;

      position: relative;
      font-family: 'Montaga', serif;

}

.contact {

  background-color: #F5F5F5;
  color: #222;
  height: 600px;
  padding-top: 50px;

}

.container-fluid , .container {

  background-color:clear;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.funstuff {

  background-color: #222;
  color: #F5F5F5;
  height: 100px;
  margin-top: 50px;


}

hr.style18 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}

hr.style18:after {
  content: 'ยง';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #757575;
  color: #fff;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.jumbotron {
  background-color:transparent;
  height: 100%;


}

.navbar {
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Cormorant Unicase', serif;
}

.portfolio {

  background-color: #F5F5F5;
  color: #222;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 75px;

}

.spacer {
  margin-top: 15%;
}


@media only screen and (max-width: 768px) {

   h2 {
    font-size:1.5em;
   }

   .spacer {
    font-size:1em;
   }

   .about {
    height:700px;
   }

   .contact {
    height:100%;
   }

   .portfolio {
    padding-bottom: 230%;
   }

}